@import "tailwindcss";
html {
  overflow-x: hidden;
  margin-inline-end: calc(-1 * (100vw - 100%));
}
/* * {
  border: 1px solid red;
} */
@theme inline {
  --color-dark-1: #1b212d;
  --color-dark-2: #929eae;
  --color-dark-3: #78778b;
  --color-primary: #c8ee44;
  --color-secondary: #29a073;
  --color-gray-2: #f8f8f8;
  --color-gray-3: #f5f5f5;
  --color-gray-5: #f2f2f2;
  --radius-primary: 10px;
}

.curved-line::after {
  top: 23px;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  position: absolute;
  cursor: default;
  content: "";
  width: 150%;
  height: 50px;
  border: 5px solid;
  border-color: var(--color-primary) transparent transparent transparent;
  border-radius: 50%;
  pointer-events: none;
}
